[submodule "overrides/Discord.Net.BuildOverrides"]
	path = overrides/Discord.Net.BuildOverrides
	url = https://github.com/discord-net/Discord.Net.BuildOverrides
[submodule "discord-api-spec-3.0"]
	path = discord-api-spec-3.0
	url = git@github.com:discord-openapi-clients/discord-api-spec-3.0.git
